@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --typography-primary: #121212;
  --typography-secondary: #6B6B6B;
  --gradient-primary: #377DFF;
  --gradient-secondary: #5093F8;
}

@theme inline {
  --font-sans: var(--font-poppins);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-typography-primary: var(--typography-primary);
  --color-typography-secondary: var(--typography-secondary);
  --color-gradient-primary: var(--gradient-primary);
  --color-gradient-secondary: var(--gradient-secondary);
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-linear-[265deg] from-gradient-primary to-gradient-secondary;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.85);
      filter: blur(10px);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
      filter: blur(0px);
    }
  }

  @keyframes translucentFadeIn {
    from {
      opacity: 0;
      filter: blur(10px);
    }

    to {
      opacity: 0.8;
      filter: blur(0px);
    }
  }

  .animate-fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .animate-translucent-fade-in {
    opacity: 0;
    animation: translucentFadeIn 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}